<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pockit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59A124E41D89FD7E0014FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59A124F81D89FD7E0014FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59A125031D89FD7E0014FC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
